:root {
    --accent-color: rgb(20, 134, 247);
    --normal-radius: 5px;
    --soft-background: rgba(55,63,76, .2);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    border-bottom: 1px solid var(--accent-color);
    font-size: 5vh;
    height: 5vh;
    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;
}

/* ---------------- */

@media screen and (max-width: 100svh) {
    header {
        font-size: 7vw !important;
    }
    #new {
        font-size: 5.5vw !important;
    }
    
    #join {
        font-size: 5.5vw !important;
    }
}

#new {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    width: calc(50% - 2vw);
    font-size: 2vw;
    height: 5vh;
    border: 1px solid var(--accent-color);
    border-radius: 25px;

    transition: all .5s;
}

#new:hover {
    left: 0.5vw;
    width: calc(50% - 1vw);
    border-radius: 50px;
}

#join {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    width: calc(50% - 2vw);
    font-size: 2vw;
    height: 5vh;
    border: 1px solid var(--accent-color);
    border-radius: 25px;

    transition: all .5s;
}

#join:hover {
    right: 0.5vw;
    width: calc(50% - 1vw);
    border-radius: 50px;
}

main {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vh;

    height: 78vh;

    overflow: scroll;
    overflow-x: auto;
}

.room {
    padding: 1%;
    border: 1px solid var(--accent-color);
    border-radius: var(--normal-radius);
    transition: all .2s;
}

.room:hover {
    background-color: var(--soft-background);
}

.room:hover::after {
    content: ">";
    color: black;
    float: right;
}

.room:focus {
    border: 3px solid var(--accent-color);
}

.delete {
    float: right;
    height: 100%;
}